.container {
	display: flex;
	background: #ccc;
	justify-content: center;
	align-items: center;
	height: 100vh;
}

.video {
	width: 100%; 
}

.c-video {
	width: 	100%;
	max-width: 800px;
	position: relative;
	overflow: hidden;
}
.c-video:hover .controls {
	transform: translateY(0);
}
.controls {
	margin-top: -50px;
	height: 30px;

	display: flex;
	position: relative;
	bottom: 0;
	width: 100%;
	flex-wrap: wrap;
	background: rgb(0, 0, 0, 0.5);
	transform: translateY(100%) translateY(-10%);
	transition: all .2s;
}

.controls .labels  {
	display: inline-block;
	font-size: 15px;
	color: #FFF; 
}


.buttons {
	padding: 1px;
}

.buttons button{
	background: none;
	border: 0;
	outline: 0;
	cursor: pointer;
}	

.buttons button#playPause {
	padding-bottom: 13px;
	display: inline-block;
	font-size: 15px;
	color: #FFF; 
}


	
	




.color-bar {
	height: 5px;
	top: 0;
	left: 0;
	width: 100%;
	background: rgb(0, 0, 0, 0.1);
}
	
	

.color-juice {
	height: 5px;
	background: transparent; /*#1ABB9C;*/

}

/** ================================================= **/
/* input range  */


input[type='range'] {
	margin-top: 5px;
	margin-left: 10px;
  	display: block;
  	width: 60px;
}




input[type='range']:focus {
  outline: none;
}

input[type='range'],
input[type='range']::-webkit-slider-runnable-track,
input[type='range']::-webkit-slider-thumb {
  -webkit-appearance: none;
}

input[type=range]::-webkit-slider-thumb {
  background-color: #777;
  width: 12px;
  height: 12px;
  border: 3px solid #333;
  border-radius: 50%;
  margin-top: -4px;
}

input[type=range]::-moz-range-thumb {
  background-color: #777;
  width: 8px;
  height: 8px;
  border: 3px solid #333;
  border-radius: 50%;
}

input[type=range]::-ms-thumb {
  background-color: #777;
  width: 20px;
  height: 20px;
  border: 3px solid #333;
  border-radius: 50%;
}

input[type=range]::-webkit-slider-runnable-track {
  background-color: #777;
  height: 3px;
}

input[type=range]:focus::-webkit-slider-runnable-track {
  outline: none;
}

input[type=range]::-moz-range-track {
  background-color: #777;
  height: 3px;
}

input[type=range]::-ms-track {
  background-color: #777;
  height: 3px;
}

input[type=range]::-ms-fill-lower {
  background-color: HotPink
}

input[type=range]::-ms-fill-upper {
  background-color: black;
} 